.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  width: 100%;
}



@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;   /* ← 1 column instead of 2 */
  }
}