.header {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 1.25rem 2rem;
  background: #2c5f34;
  border-radius: 12px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
}

.nav a:hover {
  opacity: 0.75;
}

.divider {
  color: white;
}